<br><br>
<h1 align="center">Sign up and start chatting!</h1>
<br><br><br>
<div class="row">
  <div id="leftside" style="width: 35%">
  </div>
  <div style="width: 60%; padding-left:40%" align="center">
    <%= form_for(@user) do |f| %>
        <%= f.bootstrap_text_field :name %>
        <%= f.bootstrap_password_field :password %>
        <%= f.submit "Create User", class:"btn btn-default" %>
    <% end %>
  </div>
</div>

