<div id="<%= params[:name] %>">
  <iframe style="width:calc(100vw - 280px); height:calc(100vh - 50px)" autoplay="true" marginheight="0" marginwidth="0" frameborder="0" src="http://www.azubu.tv/azubulink/embed=<%= params[:name] %>" scrolling="no"></iframe>
</div>