<br><br>
<body style="overflow-y: scroll !important;">
<% if @search.count == 0 %>
    <h2 style="padding-left: 25px;">Your search found no results :(</h2>
    <% @search = @top %>
    <%= render 'streams/streams', search: @search %>
<% else %>
    <h2 style="padding-left: 25px;">Search results:</h2>
    <%= render 'streams/streams', search: @search %>
<% end %>
</body>