<div id="main-wrap">
  <div id="sidebar" style="float:left; width:calc(100% - 300px); padding-top:50px">
    <%= render 'streams/twitchstream' %>
  </div>
  <div id="content-wrap" style="float:right; width:300px;">
    <div class="tab-content">
      <div id="omnichat" class="tab-pane fade in active">
        <%= render 'streams/omnichat', messages: @messages %>
      </div>

    </div>
  </div>
</div>

