<div id="main-wrap">
  <div id="sidebar" style="float:left; width:calc(100% - 350px); padding-top:50px">
    <iframe
    src="http://player.twitch.tv/?channel=shroud"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true"
    style="height:calc(100vh - 50px);
        width:100%">
    </iframe>
  </div>
  <div id="content-wrap" style="float:right; width:350px">
    <div class="container">
      <div class="panel panel-default" style="width: 345px; padding-top: 52px">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Chatroom
        </div>
        <div class="panel-body">
          <ul class="chat">
            <div id="messages">
              <%= render @messages %>
            </div>
          </ul>
        </div>
        <div class="panel-footer" id="footer-of-panel">
          <div class="input-group">
            <input data-behavior ="room-speaker" id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" id="btn-chat">
                              Send</button>
                        </span>
          </div>
        </div>
      </div>
    </div>
    <iframe style="width:350px; height: calc(100vh); padding-top: 52px; padding-left: 10px" frameborder="0" scrolling="no" src="http://twitch.tv/<%= 'shroud' %>/chat?popout=">
    </iframe>

  </div>
</div>