/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav > li > a {
  padding-top:10px !important; padding-bottom:10px !important;
}

.navbar {
  min-height:20px !important;
  max-height: 51px;
}

.navbar-nav > li {
 position: relative; top: 5px
}

.nav-tabs{
  background-color: #1c1c1c;
}

.tab-content{
  background-color:#303136;
  color: rgba(150, 150, 150, 0.58);
  padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  border: medium none;
  border-radius: 0;
  color: #474747;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #000000 !important;
}

.panel > .panel-heading {
  background-color: #555555;
  color: white;
  border-color: #000000;
}
.panel {
  border-color: #000000;
}

.panel-body  {
  background-color: #1c1c1c;
  font-family: "ubuntu";
  font-size: 90%;
  overflow-x: hidden;
  word-break: keep-all;
  border-color: #1c1c1c;
}
.panel-footer  {
  background-color: #555555;
  font-family: "ubuntu";
  font-size: 90%;
  overflow-x: hidden;
  word-break: keep-all;
  border-color: rgba(43, 43, 43, 0.89);
}
.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 7px;
  padding-bottom: 7px;
}

.alert {
  align: center;
  position: absolute;
  left:30%;
  right:30%;
  top: 80px;
  width:auto;
}
.ustream > iframe {
  width:calc(100vw - 300px);
  height:calc(100vh - 20px);
}
.chat li
{
  margin: 0;
  color: lightslategrey;
}
.chatInput form {
  AutoComplete:"off";
  autocomplete:"off";
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}
.modal {
  position: absolute;
}

.panel-body
{
  overflow-y: scroll;
  height: calc(100vh - 150px);
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

ul.horizontal-slide {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

ul.horizontal-slide li[class*="span"] {
  display: inline-block;
  float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
  margin-left: 0;
}
