<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <!--<ul class="nav nav-tabs pull-right">-->
      <!--<li><a data-toggle="tab" href="#omnichat">Omnistrim chat</a></li>-->
      <!--<li><a data-toggle="tab" href="#chanchat">Channel chat</a></li>-->
    <!--</ul>-->
    <div class="navbar-header navbar-right">
      <div class="navbar-form pull-right navbar input-group">
        <%= form_tag stream_search_path, :method => :post do %>
            <%= text_field_tag :name, params[:name], placeholder: "Channel name", class: 'form-control' %>
            <select name="provider" class="form-control">
              <option value="twitch">Twitch</option>
              <option value="twitch-vod">Twitch VOD</option>
              <option value="ustream">Ustream</option>
            </select>
            <span class="input-group-btn"><%= submit_tag "Find", class: 'btn btn-default' %></span>
        <% end %>

      </div></div></div>
</nav>
