<br><br><br>
<body style="padding-left: 50px; padding-right: 50px">
<h1> Quick guide to the site's features:</h1>
<h2>Quick chat guide: /w name message, /abbreviation message</h2>
<p>When a user has registered and logged into their account, they can further improve its functionality by linking their
  Twitch or Youtube account to it. Linking works by clicking their respective buttons in the navigation bar.</p>
<p>After linking, the main page will have a button to display all streams followed by the linked Twitch account, all of
  which will also be added as the user's favorites. Also linking a Twitch account will allow a user to follow or
  unfollow a channel using the favorite button on the site.</p>
<p>Linking a Youtube account will similiarly give a Youtube subscription display button on the main page, which allows
  users to view latest videos from a certain channel.</p>
<p>The top right input allows you to open a stream or a youtube video by inputting its id. In Youtube's case it is the
  string that follows v=, for example svPOe0OrGAg. Twitch, Azubu and Ustream just take the channel name as parameter.
  The Twitch show also serves as a search in case the stream you put in does not return any live streams.</p>
<p>The chat logs allow you to explore the chatting history of the people using the chat. You can see all public messages
  currently and the messages of societies you are a part of. Currently there is no support for viewing your personal
  messages.</p>
<p>Users of course can form their own societies from the society page and join them as they please.</p>
<p>The front page features top 100 Twitch streams, with League of Legends filtered out and then split into a few
  reasonable categories, currently there is no way to alter this categorization unfortunately.</p>
<br>
<h3>Using the chat:</h3>
<p>If you are watching a Twitch stream, to display the Omnichat you have to press the button in the navbar.</p>
<p>In order to use the chat, one needs to have a registered account on the site.</p>
<p>Once in the chat you can just send regular messages by typing them into the input field and using the Send button to
  send them to other people.</p>
<p>Also, the chat includes private messaging to other people, it works by using the '/w personName and then your
  message' syntax.</p>
<p>The chat also allows messaging between the members of a society, which is possible if you join one and take note of
  its abbreviation. After memorizing it, you can send messages by typing '/abbreviation your message here'. All the
  abbreviations for societies are 3 symbols long.</p>
<p>Chat messages are color coded as follows: normal messages are grey, society messages are green and private messages
  are in purple. On top of the chat are buttons that allow you to filter out different kind of messages as you will.</p>
</body>