<div>
  <div id="leftside" style="width:calc(100% - 400px); float:left">
    <br><br><br>
    Tänne kaikki striimuja
  </div>
  <div id="chatside" style="width: 315px; float:right">
    <%= render 'streams/omnichat', messages: @messages %>
  </div>
</div>